body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.swim-lanes {
    min-height: 60vh;
}

.task-card {
    margin: 0 auto;
}

.task-card:hover {
    cursor: grab;
}

.error {
    position: relative;
    display: block;
}

.error::after {
    display: block;
    position: absolute;
    content: "Please enter a value";
    color: white;
    background-color: red;
    font-size: smaller;
    top: 15px;
    left: 80px;
}
