body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.swim-lanes {
    min-height: 60vh;
}

.task-card {
    margin: 0 auto;
}

.task-card:hover {
    cursor: grab;
}

.error {
    position: relative;
    display: block;
}

.error::after {
    display: block;
    position: absolute;
    content: "Please enter a value";
    color: white;
    background-color: red;
    font-size: smaller;
    top: 15px;
    left: 80px;
}

.card-late {
    background-color: #b30000;
    color: white;
}

.card-late-header {
    background-color: #ff1a1a;
    color: white;
}

.card-today {
    background-color: #e6ac00;
    color: white;
}

.card-today-header {
    background-color: #ffc107;
    color: white;
}

.card-normal {
    background-color: #f1f1f1;
    color: black;
}
.card-noraml-header {
    background-color: #d9d9d9;
    color: black;
}
